@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

:root {
    --text-extra-small: 1.1rem;
    --text-small: 1.25rem;
    --text-medium: 1.5rem;
    --text-large: 2rem;
    --text-extra-large: 2.5rem;
    --text-ultra-large: 3.5rem;

    --text-extra-small--line-height: 1;
    --text-small--line-height: calc(1.75 / 1.125);
    --text-medium--line-height: calc(1.75 / 1.25);
    --text-large--line-height: calc(2 / 1.5);
    --text-extra-large--line-height: calc(2.25 / 1.875);
    --text-ultra-large--line-height: calc(2.5 / 2.25);

    --font-primary: "Oswald", sans-serif;

    --bg-primary: #ebffd8;
    --text-primary: #272932;

    --color-primary: #656e77;
    --color-secondary: #3b5ba5;
}

.mm {
    --text-extra-small: 1rem;
    --text-small: 1.1rem;
    --text-medium: 1.25rem;
    --text-large: 1.5rem;
    --text-extra-large: 2rem;
    --text-ultra-large: 2.75rem;

    --text-extra-small--line-height: 1.5;
    --text-small--line-height: 1.75;
    --text-medium--line-height: 2;
    --text-large--line-height: 2.15;
    --text-extra-large--line-height: 2.25;
    --text-ultra-large--line-height: 2.35;

    --font-primary: "Noto Sans Myanmar", sans-serif;

    --text-extra-large--line-height: 2;
}

.dark {
    --bg-primary: #272932;
    --text-primary: #ebffd8;
    --color-primary: #f2ec9b;
    --color-secondary: #ee9b00;
}

@theme {
    --breakpoint-xs: 30rem;

    --font-ife: "IM Fell English", serif;
    --font-main: var(--font-primary);

    --text-extra-small: var(--text-extra-small);
    --text-small: var(--text-small);
    --text-medium: var(--text-medium);
    --text-large: var(--text-large);
    --text-extra-large: var(--text-extra-large);
    --text-ultra-large: var(--text-ultra-large);

    --text-extra-small--line-height: var(--text-extra-small--line-height);
    --text-small--line-height: var(--text-small--line-height);
    --text-medium--line-height: var(--text-medium--line-height);
    --text-large--line-height: var(--text-large--line-height);
    --text-extra-large--line-height: var(--text-extra-large--line-height);
    --text-ultra-large--line-height: var(--text-ultra-large--line-height);

    --color-foreground: var(--text-primary);
    --color-background: var(--bg-primary);

    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);

    --color-dark: #272932;
    --color-light: #10fee2;
    --color-skin: #f2ec9b;
    --color-orange: #ee9b00;
    --color-purple: #422057;
    --color-lgray: #656e77;
    --color-blue: #3b5ba5;

    --shadow-round: 0 0 20px var(--color-primary);

    /* --animate-borderDraw: borderDraw 3s ease-in-out; 

    @keyframes borderDraw {
        0% {
            border-color: transparent;
        }
        25% {
            border-right-color: white;
        }
        50% {
            border-bottom-color: white;
        }
        75% {
            border-left-color: white;
        }
        100% {
            border-color: white;
        }
    } */
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}

